* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(24, 25, 26);
    color: rgb(208, 228, 28);
}

main {
    min-height: 600px;
    background: url('asset/3.svg'), url('asset/4.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 30%;
    background-position-y: bottom, 2vh;
    background-position-x: 0, center;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content:space-around;
    border: 2px solid rgb(221, 19, 19);

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    flex: 3
}

.input_section > h3 {
    text-align: center;
    color: rgb(248, 248, 250);
    background-color: rgb(179, 162, 151);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    /* display: block; */
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    /* display: block; */
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 3px;
}



.input_section > form > .input > label {
    width: 100%;
    color: rgb(248, 248, 248);
    font-weight: bold;
    background-color: rgb(151, 135, 135);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    flex: 1;
}

.search_section > h3 {
    text-align: center;
    color: rgb(248, 248, 250);
    background-color: rgb(179, 162, 151);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.search_section > form {
    margin-top: 10px;;
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 5px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    background-color: thistle;
    border-radius: 10px;
    padding: 2px 10px 2px 10px

}

.search_section > form > input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
}

.container  {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 650px;
    padding-bottom: 6px;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    width: 300px;
}

.book_shelf > h2 {
    color: cornflowerblue;
    text-align: center;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 1px solid white;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
    font-size: 10px;
    margin-top: 2px;
    text-align: right;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
    font-size: 10px;
    margin-top: 2px;
    text-align: right;
}

.satu   {
    background-color: olivedrab;
}

.dua    {
    background-color: darkslateblue;
}

.completed {
    background-color: rgba(47, 79, 79, 0.164);
    background-image: url('asset/blob-1.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1vh;
    background-size: 25%;
    color: whitesmoke;
}

.uncompleted {
    background-color: lightcoral;
    background-image: url('asset/animasi-1.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: rgb(26, 5, 75);
}

.utama {
    border: 2px solid black;
    border-radius: 10px;
    align-self:flex-start;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

footer{
    background-color: rgb(19, 20, 20);
    border-top: 2px solid turquoise;
    height: 40px;
}

.content-footer {
    margin: auto;
    color:rgb(208, 228, 28);
    text-align: center;
}

#myDIV {
    width: 300px;
    height: 200px;
    background: red;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {background-color: blue;}
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main{
        width: 100%;
        height: 1000px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
